:root{
  --dark: #374151;
  --darker: #1F2937;
  --darkest:#111827;
  --light: #EEE ;
  --gray: #6B7280;
  --pink: #EC4899;
  --purple: #8B5CF6;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   background: var(--dark);
  color: #EEE;
  
background: linear-gradient(145deg, #cacaca, #f0f0f0);
/* box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff; */
}
.title{
    font-size: 2.5rem;
    font-weight: 600 ;
    color:var(--gray) ;
    margin-bottom: 1rem;
    
}
.screen{
  display: flex;
  flex-direction: row;
  font-size: 1.9rem;
  background-color: var(--darkest);
  border-radius: 10px;
  padding: 2vh;
}

.button{
  /* appearance: none; */
  border: none;
  /* outline: none; */
  /* background: none; */

margin: 10px;
background-color: var(--darkest);
color: var(--light);
font-size: 1.5rem;
border-radius: 5px;
width: 3rem;
box-shadow: inset 5px 5px 8px var(--dark),
inset -5px -5px 8px  var(--darker);
cursor: pointer;
}
.button:hover{
  background-color: var(--darker);
}
.opebutton{
  /* appearance: none; */
  border: none;
  /* outline: none; */
  /* background: none; */

margin: 10px;
background-color: rgba(255, 255, 0, 0.648);
color: var(--darkest);
font-size: 1.5rem;
border-radius: 5px;
box-shadow: inset 5px 5px 8px rgba(255, 255, 0, 0.317),
inset -5px -5px 8px  rgba(255, 255, 0, 0.469);
width: 3rem;
}

.egalbutton{
border: none;
margin: 10px;
background-color:var(--gray) ;
color: var(--darkest);
font-size: 1.5rem;
border-radius: 5px;
width: 3rem;
box-shadow: inset 5px 5px 8px rgba(30, 27, 27, 0.218),
inset -5px -5px 8px  rgba(17, 17, 17, 0.159);
}
.content{
  
  /* background: linear-gradient( 500deg, var(--darker), var(--dark)); */
  background: var(--gray);
  padding: 6vh;
  height: 70vh;
  border-radius: 10px;
  /* box-shadow: inset 5px 5px 8px var(--darker),
  inset -5px -5px 8px  var(--darker); */
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.buttoncontent{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
 

}



